@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
header{
    padding: 10px;
    border-bottom: 3px solid rgb(61, 57, 52);

}
 header div a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin: 16px;
 }
 body{ background-color: rgb(31, 29, 29);
       padding: 32px;
       text-align:center ;
       border-bottom: rgb(46, 88, 46);}
       p{color: aliceblue;}
img {max-width: 32px;
max-height: 32px;}
p{ font-family: "Oswald", sans-serif;}